body {
  font-family: Arial, sans-serif;
}

.chat-window {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;
  background-color: #f9f9f9;
}

.message-list {
  height: 300px;
  overflow-y: auto;
  margin-bottom: 10px;
}

.message {
  margin: 5px 0;
}

.message-content {
  display: flex;
  align-items: center;
}

.message-sender {
  font-weight: bold;
  margin-right: 10px;
}

.text-end {
  text-align: right;
}

.contact-list {
  margin-bottom: 20px;
}

.contact-list button {
  margin-right: 10px;
}

.contact-list .active {
  font-weight: bold;
  background-color: #007bff;
  color: white;
}
